@import 'src/styles/partials/_utils.scss';
@import 'src/styles/partials/_setup.scss';
@import 'src/styles/partials/_typography.scss';


body {
    background-color: rgb(54,54,54);
    max-width: 1400px;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 75%;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: space-around;

    // margin: 10px;
    // padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 10px;
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    text-align: center;
}

a {
    color: white;
    // text-align: center;
    text-decoration: none;
    margin: 3rem;
    text-transform: uppercase;
    font-size: 13px;
}

a:hover {
    color: $secondary;
}


button {
    padding: 20px 35px;
    border-radius: 40px;
    color: $secondary;
    background-color: rgb(54,54,54);
    border: 2px solid white;
}

button a:hover {
    color: rgb(54,54,54);
    font-weight: 600;
}

button:hover {
    background-color: $secondary;
    color: rgb(54,54,54);
    font-weight: 600;
}

i {
    color: rgb(255, 231, 24);
    font-size: 4.5rem;
}

.landing {
    max-width: 1920px;
    height: 600px;
}

.landing h3 {
    font-size: 15px;
    width: 80%;
    padding: 10px 0 5px 0;
}

// Section 1:

.aboutMe {
    margin-top: 5rem;
    display: flex;
    outline: 0;
}

.aboutMeImg {
    width: 130rem;
    // height: 120rem;
    // border: 3px solid white;
    // border-radius: 205px;
    margin-top: 3.5rem;
    margin-left: 3rem;
}

.aboutMe img {
    // width: 43%;
    // height: 43%;
    // border: 3px solid white;
    // border-radius: 205px;
    // margin-top: 3.5rem;
    // margin-left: 3rem;
    max-width: 100%;
    width: 100%;
    border-radius: 205px;
    border: 3px solid white;

}

.aboutMeContainer {
    flex-direction: column;
    margin-left: 8rem;
} 

.aboutMeContainer p {
    line-height: 1.5rem;
}

// Section 2:

h2.skillsHeader{
    text-transform: uppercase;
    color: $primary;
    font-size: 2rem;
    margin-top: 12rem;
    padding-top: 3rem;
    text-align: center;
    outline: 0;
}

.skills {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    // width: 70%;
    max-width: 1920px;
    height: 35rem;
    text-align: center;
}

.skillsContainer {
    padding-top: 5px;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.skillsBox {
    padding: 20px;
}

.skills i {
    font-size: 7rem;
}
        
 .firebaseImg {
    width: 63%;
    height: 63%;
}

// SECTION 3:

.projects {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    height: 142rem;
    margin: 0 auto;
    text-align: center;
    outline: 0;
}

.projects img {
    width: 65%;
    height: 65%;
}

.projectContainer {
    // display: block;
    // width: 100%;
}

.projectContainerOne {
    // width: 50%;
}

.projectContainerTwo {
    // width: 50%;
}

.projectDescription p {
    padding: 25px;
    color: $secondary;
}

// SECTION 4:

.noHover {
    pointer-events: none;
}

.contact {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    height: 450px;
    outline: 0;
}

.contact h2 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 28px;
} 

.contactFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.email {
    flex-direction: center;
    border: 2px solid $primary;
    border-radius: 15px;
    width: 33%;
    // height: 33%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}

input {
    width: 50%;
    height: 33%;
    margin: 12px;
    // border-radius: 40px;
    padding: 10px;
}

textarea#message.contactMessage {
    width: 40rem;
    height: 15rem;

}

.inputSend {
    padding: 10px 0 25px 0;
    width: 23%;
    height: 20%;
    font-size: 15px;
    border-radius: 40px;
    background-color: rgb(54,54,54);
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
}

.inputSend:hover {
    background-color: $secondary;
    color: rgb(54,54,54);
}

// .contactFormContainer {
//     margin: 10px;
//     padding-bottom: 1rem;
//     border: 2px solid white;
// }

.contactFormContainer label, textarea {
    color: white;
    // margin: 5px;
}
        
.socials {
    flex-direction: column;
    margin-bottom: 3rem;
    
}

.socials a {
    padding: 4.8rem;
    justify-content: space-between;
}

footer {
    margin-top: 7rem;
    text-align: center;
    height: 4rem;
}

// #page-wrap { 
//   max-width: 500px; 
//   margin: 1rem auto;
//   padding: 1rem;
// }