@import 'src/styles/partials/_utils.scss';
@import 'src/styles/partials/_setup.scss';
@import 'src/styles/partials/_typography.scss';


body {
    background-color: rgb(54,54,54);
    max-width: 1400px;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 75%;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: space-around;

    // margin: 10px;
    // padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 10px;
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    text-align: center;
}

a {
    color: white;
    // text-align: center;
    text-decoration: none;
    margin: 3rem;
    text-transform: uppercase;
    font-size: 13px;
}

a:hover {
    color: $secondary;
}

.aboutMeButton {
    margin-top: 30px;
    padding: 20px 75px;
    border-radius: 40px;
    color: $secondary;
    background-color: rgb(54,54,54);
    border: 2px solid white;
    outline: 0;
    margin-left: 0;
}

.aboutMeButton:hover {
    color: rgb(54,54,54);
    background-color: rgb(255, 231, 24);
    font-weight: 600;
}


// button {
//     padding: 20px 35px;
//     border-radius: 40px;
//     color: $secondary;
//     background-color: rgb(54,54,54);
//     border: 2px solid white;
//     outline: 0;
// }

button a:hover {
    color: rgb(54,54,54);
    font-weight: 600;
}

button:hover {
    background-color: $secondary;
    color: rgb(54,54,54);
    font-weight: 600;
}

i {
    color: rgb(255, 231, 24);
    font-size: 4.5rem;
}

.landing {
    max-width: 1920px;
    height: 600px;
}

.landing h3 {
    font-size: 15px;
    width: 80%;
    padding: 10px 0 5px 0;
}

// Section 1:

.aboutMe {
    margin-top: 5rem;
    display: flex;
    outline: 0;
}

.aboutMeImg {
    width: 130rem;
    // height: 120rem;
    // border: 3px solid white;
    // border-radius: 205px;
    margin-top: 2rem;
    margin-left: 3rem;
}

.aboutMe img {
    // width: 43%;
    // height: 43%;
    // border: 3px solid white;
    // border-radius: 205px;
    // margin-top: 3.5rem;
    // margin-left: 3rem;
    max-width: 100%;
    width: 100%;
    border-radius: 205px;
    border: 3px solid white;

}

.aboutMe p {
    width: 100%;
}

.aboutMeContainer {
    flex-direction: column;
    margin-left: 8rem;
} 

.aboutMeContainer p {
    line-height: 1.5rem;
}

// Section 2:

h2.skillsHeader{
    text-transform: uppercase;
    color: $primary;
    font-size: 2rem;
    margin-top: 12rem;
    padding-top: 3rem;
    text-align: center;
    outline: 0;
}

.skills {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    // width: 70%;
    max-width: 1920px;
    height: 32rem;
    text-align: center;
}

.skillsContainer {
    padding-top: 5px;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.skillsBox {
    padding: 20px;
}

.skills i {
    font-size: 7rem;
}
        
svg {
    width: 83%;
    height: 83%;
    fill: yellow;
}

// SECTION 3:

.projects {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    height: 115rem;
    margin: 0 auto;
    text-align: center;
    outline: 0;
}

.projects img {
    width: 65%;
    height: 65%;
}

.projectContainer {
    // display: block;
    // width: 100%;
}

.projectContainerOne {
    // width: 50%;
}

.projectContainerTwo {
    // width: 50%;
}

.projectDescription {
    height: 10rem;
}

.projectDescription p {
    padding: 25px;
    color: $secondary;
}

.projectLink {
    margin-top: 10px;
    padding: 20px 75px;
    border-radius: 40px;
    color: $secondary;
    background-color: rgb(54,54,54);
    border: 2px solid white;
    outline: 0;
    margin: 0 auto;
}

.projectLink:hover {
    color: rgb(54,54,54);
    background-color: rgb(255, 231, 24);
    font-weight: 600;
}

// SECTION 4:

.noHover {
    pointer-events: none;
}

.contact {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    // height: 450px;
    height: 85vh;
    outline: 0;
    margin-top: 7rem;
}

.contact h2 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 15px;
} 

.contactFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.email {
    flex-direction: center;
    border: 2px solid $primary;
    border-radius: 15px;
    width: 50%;
    height: 53%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.email a {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}

input {
    width: 50%;
    height: 33%;
    margin: 12px;
    // border-radius: 40px;
    padding: 10px;
}

textarea#message.contactMessage {
    width: 40rem;
    height: 15rem;

}

.inputSend {
    padding: 10px 0 25px 0;
    width: 23%;
    height: 20%;
    font-size: 15px;
    border-radius: 40px;
    background-color: rgb(54,54,54);
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
}

.inputSend:hover {
    background-color: $secondary;
    color: rgb(54,54,54);
}

// .contactFormContainer {
//     margin: 10px;
//     padding-bottom: 1rem;
//     border: 2px solid white;
// }

.contactFormContainer label, textarea {
    color: white;
    // margin: 5px;
}
        
.socials {
    flex-direction: column;
    margin-bottom: 3rem;
    margin: 0 auto;
    padding: 30px;
}

.socials a {
    // padding: 3rem;
    justify-content: space-around;
}

.socials i {
    font-size: 7.5rem;
    margin-top: 5rem;
}

.socials i:hover {
    color: rgba(121, 114, 114, 0.79);
}

footer {
    // margin-top: .5rem;
    text-align: center;
    height: 3rem;
    margin-bottom: 13px;
}

// #page-wrap { 
//   max-width: 500px; 
//   margin: 1rem auto;
//   padding: 1rem;
// }

// BENS BAGELS

.hide {
    display: none;
}
.show {
    display: block;
}
@keyframes falling-bagels {
            0% {
                top: -500px;
            }
            10%, 30%, 50%, 70%, 90% {
                margin-left: 10px;
            }
            20%, 40%, 60%, 80% {
                margin-left: 100px;
            }
            100% {
                top: 100%;
            }
        }
.bagels {
        position: absolute;
        animation-name: falling-bagels;
        animation-duration: 5s;
        /*animation-delay: 1s;*/
        animation-timing-function: ease-in-out;
        top: -500px;
        animation-iteration-count: 1;
        /*animation-direction: */
}
.bagels1{
    left: 11%;
    animation-delay: 3s;
}
.bagels2 {
    left: 25%;
    animation-delay: 5s;
    animation-duration: 10s;
}
.bagels3 {
    left: 33%;
    animation-delay: 1.5s;
}
.bagels4{
    left: 79%;
    animation-delay: 4s;
}
.bagels5 {
    left: 62%;
    animation-delay: .8s;
}

// MEDIA QUERIES

// WEDNESDAY TACKLE:

// GO THROUGH MOBILE AND CLEAN IT UPPP
// Check each width and go through site in full to check for fuckery
// 

@media (max-width: 1125px) {

    .socials i {
        font-size: 6.5rem;
    }

    .skillsContainer {
        margin: 0 auto;
    }

    .contact {
        height: 80vh;
        margin-top: 0.5rem;
    }
}

@media (max-width: 1075px) {

    a {
        font-size: 10px;
        margin: 2rem;
    }

    .aboutMeImg {
        width: 220rem;
        margin-top: 7rem;
    }

    .aboutMe img {
        max-width: 100%;
        width: 100%;
        border-radius: 240px;
    }

    .skillsContainer {
        margin: 0 auto;
    }

    .skills i {
        font-size: 6rem;
    }

    .aboutMeContainer {
        margin-left: 4rem;
    }
}

@media (max-width: 980px) {

    .skillsContainer {
        margin: 0 auto;
    }

    .skills i {
        font-size: 4rem;
    }

    .landing {
        height: 600px;
    }

    .aboutMe {
        flex-direction: column;
        margin-top: 0.5rem;
    }

    .aboutMe h2 {
        text-align: center;
    }
     
    .aboutMeContainer {
        margin: 0 auto;
    }

    .aboutMeImg {
        width: 50%;
        margin: 0 auto;
    }

    .aboutMe p {
        font-size: 15px;
        line-height: 2rem;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 8px;
        line-height: 1.2rem;
    }

    h2.skillsHeader {
        margin-top: 6rem;
    }

    .skills {
        height: 23rem;
    }

    .skillsContainer {
        margin: 0 auto;
    }

    .projects {
        height: 97rem;
    }

    .socials i {
        font-size: 4rem;
    }

    // .projectBottom {
    //     margin-bottom: 15rem;
    // }

    .contact {
        // margin-top: 5px;
    }

    .contact h2 {
        padding-top: 7rem;
    }
}

@media (max-width: 765px) {

    a {
        font-size: 10px;
        margin: 10px;
    }

    .skillsContainer {
        margin: 0 auto;

    }

    .projects {
        height: 90rem;
    }

    
}

@media (max-width: 700px) {

    .skillsContainer {
        margin: 0 auto;
    }

    .skills i {
        font-size: 3rem;
    }

    .projects {
        height: 85rem;
    }
}

@media (max-width: 660px) {

    a {
        margin: 0.5rem;
    }

    .aboutMeImg {
        width: 50%;
    }

    .skills {
        height: 20rem;
    }

    .skills i {
        font-size: 2rem;
    }

    .skillsContainer {
        margin: 0 auto;
    }

    .projects {
        height: 80rem;
    }

    .socials i {
        font-size: 4rem;
    } 

    footer p {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    
    a {
        font-size: 8px;
        margin: 0 auto;
        padding: 3px;
    }

    h1 {
        font-size: 2.5rem;
        padding-top: 4rem;
    }

    h1 span {
        font-size: 2.5rem;
    }

    .landing {
        height: 505px;
    }

    .aboutMeImg {
        width: 70%;
        margin-top: 2.3rem;
    }

    .aboutMeButton {
        padding: 15px 50px;
        margin-left: 20px;
    }

    .aboutMe p {
        margin: 0 auto;
        width: 100%;
        font-size: 12px;
        line-height: 1.5rem;
    }

    h2.skillsHeader {
        margin-top: 3rem;
        padding-top: 1rem;
    }

    .skills {
        flex-direction: column;
        padding-top: 3px;
        // flex-direction: row;
        max-width: 100%;
        margin: 0 auto;
        height: 28rem;
    }

    .skillsContainer {
        margin: 0 auto;
        flex-direction: row;
    }

    .skillsBox {
        flex-direction: column;
        width: 50%;
        float: right;
    }

    .skills i {
        font-size: 3rem;
    }

    svg {
        width: 60%;
        height: 55%;
    }

    .projects {
        height: 88rem;
    }

    .projects h2 {
        margin-top: 4rem;
    }

    .projects h3 {
        padding-top: 10px;
    }

    .projects img {
    width: 90%;
    height: 65%;
}

    .contact {
        height: 50vh;
    }

    .contact h2 {
        padding-top: 10px;
    }

    .socials i {
        font-size: 2.5rem;
        margin: 0 auto;
    }
}